<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.batis.test.bankMembers.BankMembersDAO">

<select id="getIdCheck" parameterType="BankMembersDTO" resultType="Long" >
SELECT COUNT(*) 
FROM BANKMEMBERS
WHERE USERNAME=#{userName}
</select>

<insert id="setAddFile" parameterType="BankMembersFileDTO">
INSERT INTO MEMBERFILE
VALUES(
	FILE_SEQ.NEXTVAL,
	#{fileName},
	#{oriName},
	#{userName}
)
</insert>

<insert id="join" parameterType="com.batis.test.bankMembers.BankMembersDTO">
INSERT INTO BANKMEMBERS
VALUES(
	#{userName},
	#{password},
	#{name},
	#{email},
	#{phone}
)
</insert>
<select id="login" parameterType="BankMembersDTO" resultMap="loginResult">
SELECT M.USERNAME,M.NAME,R.ROLENUM,R.ROLENAME
FROM BANKMEMBERS M
      JOIN
     MEMBER_ROLE MR
     ON M.USERNAME = MR.USERNAME
      JOIN
     ROLE R
     ON MR.ROLENUM = R.ROLENUM
WHERE M.USERNAME= #{userName} AND M.PASSWORD=#{password}
ORDER BY R.ROLENUM ASC

</select>

<resultMap type="BankMembersDTO" id="loginResult">
	<id column="USERNAME" property="userName"/>
	<result column="NAME" property="name"/>
	<collection property="roleDTOs" javaType="List" ofType="RoleDTO">
		<id column="ROLENUM" property="roleNum"/>
		<result column="ROLENAME" property="roleName"/>
	</collection>
</resultMap>

<select id="searchID" parameterType="String" resultType="BankMembersDTO">
SELECT *
FROM BANKMEMBERS
WHERE USERNAME LIKE '%'||#{search}||'%' 

</select>

<select id="mypage" parameterType="BankMembersDTO" resultMap="mypageResult">
SELECT M.USERNAME, M.NAME, M.EMAIL, M.PHONE, F.FILENUM, F.FILENAME,A.ACCOUNTNUM,B.BOOKNAME,A.ACCOUNTDATE
FROM BANKMEMBERS M
	 LEFT JOIN
	 MEMBERFILE F
	 ON M.USERNAME = F.USERNAME
	 LEFT JOIN
	 BANKACCOUNT A
	 ON M.USERNAME = A.USERNAME
	 LEFT JOIN
	BANKBOOK B
	ON A.BOOKNUM = B.BOOKNUM 
WHERE M.USERNAME = #{userName}
</select>

	<!-- 1 : N 일 때 collection 사용  -->
<resultMap type="BankMembersDTO" id="mypageResult">
	<id column="USERNAME" property="userName"/>
	<result column="NAME" property="name" />
	<result column="EMAIL" property="email"/>
	<result column="PHONE" property="phone"/>
		<association property="bankMembersFileDTO" javaType="BankMembersFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
		</association>
	<collection property="bankAccountDTOs" javaType="List" ofType="BankAccountDTO">
		<id column="ACCOUNTNUM" property="AccountNum"/>
		<result column="ACCOUNTDATE" property="AccountDate"/>
		
			<association property="bankBookDTO" javaType="BankBookDTO">
				<result column="BOOKNAME" property="bookName"/>
			</association>
	</collection>
	
</resultMap>

</mapper>		    