<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.batis.test.bankBook.BankBookDAO">
	<insert id="addBankBook" parameterType="com.batis.test.bankBook.BankBookDTO">
		INSERT INTO BANKBOOK(BOOKNUM, BOOKNAME, BOOKRATE, BOOKSALE) 
		VALUES (#{bookNum},#{bookName},#{bookRate},1)
	</insert>
	<select id="getList" resultType="com.batis.test.bankBook.BankBookDTO">
		SELECT * FROM BANKBOOK ORDER BY BOOKNUM ASC
	</select>
	<select id="getDetail" parameterType="com.batis.test.bankBook.BankBookDTO" resultType="com.batis.test.bankBook.BankBookDTO">
		SELECT * FROM BANKBOOK WHERE BOOKNUM= #{bookNum}
	</select>
	<update id="update" parameterType="com.batis.test.bankBook.BankBookDTO">
		UPDATE BANKBOOK SET BOOKNAME=#{bookName}, BOOKRATE=#{bookRate} WHERE BOOKNUM=#{bookNum}
	</update>

</mapper>	